.highlight {
  pre {
    text-align: left;
    direction: ltr;
  }
}

kbd,
code,
.toc-entry a {
  direction: ltr;

  &:before,
  &::before {
    content: "\202A"; //&lre;
  }

  &:after,
  &::after {
    //content: "\202B"; //&rle;
    content: "\202C"; //&pdf;
  }
}

// External BUG: Microsift Edge (12-18) does not show sticky element on rtl direction
// So, in Edge ,I use relative position
@supports (-ms-ime-align: auto) {
  @supports (position: sticky) {
    .bd-toc {
      position: relative;
      top: 0;
    }

    @include media-breakpoint-up(md) {
      .bd-navbar,
      .bd-sidebar {
        position: relative;
      }

      .bd-sidebar {
        top: 0;
      }
    }
  }
}
