// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard {
  position: relative;
  display: none;
  float: left; //rtl

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.btn-clipboard {
  position: absolute;
  top: .65rem;
  left: .65rem; //rtl
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  @include font-size(65%);
  color: $primary;
  background-color: $white;
  border: 1px solid;
  @include border-radius();

  &:hover {
    color: $white;
    background-color: $primary;
  }
}
